.radio {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.radio__options {
  display: flex;
  gap: 2px;
  width: 100%;
}
.radio__options > button {
  flex: 1;
  justify-content: center;
}
