.radio {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  width: 100%;
}
.radio__options {
  display: flex;
  gap: var(--spacing-xs);
  width: 100%;
}
.radio__options > button {
  flex: 1;
  justify-content: center;
}
