.hints {
  position: absolute;
  bottom: var(--safe-area-inset);
  right: var(--safe-area-inset);
  font-family: var(--font-family-mono);
  font-size: var(--font-size-sm);
  letter-spacing: var(--letter-spacing-sm);
  color: rgba(255, 255, 255, 0.2);
  line-height: 2;
  text-align: right;
  text-transform: uppercase;
}
.hints__item-title {
  color: var(--color-cold);
}
